.main {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
}


.buttonContainer{

}
.primaryButton{
  text-align: center;
  padding: 1.5rem 1.9rem;
  background-color: #bc6c25;
  font-size: 18px;
  border: none;
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.959);
  position: relative;
  overflow: hidden;
}

.primaryButton:active {
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.959);
}
.progressWrapper{
  position: absolute;
  max-width: clamp(20rem , 30rem , 30vw);
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.959);
  background-color: #bc6c25;
  padding: 2rem ;
  text-align: center;
}

.progressWrapper > h1{
  font-size: clamp(.8rem , 2rem , 1vw);
  text-transform: capitalize;
  font-weight: 600;
  color: #000;
  letter-spacing: 1px;

}
.progressContainer {
  margin-top: 1rem;
  width: 100%;
  height: 12px;
  border-radius: 20px;
  background-color:#fefae0;
}

.progressBar {
  height: 100%;
  background-color: #283618;
  width: 50%;
  border-radius: 20px;
}

.message{
  padding: 3rem 2rem;
  width: clamp(20rem , 30rem, 40vw);
  background-color: #283618;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  border: 4px solid #606c38;
  border-radius: 8px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
.message > h1{
  text-transform: uppercase;
  font-size: larger;
  margin-bottom: 1rem;
  
}

.message > p{
  margin-bottom: 2rem;
  text-align: center;
  color: rgb(226, 222, 222);
}

.buttonSecondary{
  padding: .5rem 2rem;
  background-color: #97938ed8;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.5);
  border: none
}

.buttonSecondary:active{
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5);
}